LabWork/step03.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Employees">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name restriction -->
              <xs:element name="Name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="4"/>
                    <xs:maxLength value="40"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Department restriction -->
              <xs:element name="Department">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="IT"/>
                    <xs:enumeration value="HR"/>
                    <xs:enumeration value="Accounts"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Salary restriction -->
              <xs:element name="BasicSalary">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:maxInclusive value="50000"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Email restriction -->
              <xs:element name="Email">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="[a-zA-Z0-9]+@[a-z]+\.[a-z]{2,3}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>

            <!-- Employee ID restriction -->
            <xs:attribute name="id" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[A-Za-z0-9]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
